@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';

.outline {
  border: 0.5px solid #ccc;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.subtle {
  background-color: #f7f7f7; 
  border: 1px solid #ddd; 
  color: #333; 
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: none;
}